body {
    background-color: #D8DFE8;
    overflow-x: hidden;
    min-height: 100vh;
}

.hidden {
    display: none;
}

/* Main */
#logo {
    width: 1.5em;
}

#father {
    margin: 0px auto;
    width: 90%;
}

#textarea {
    color: #0A3871;
    font-size: 20px;
    font-weight: 400;
    height: 8em;
    resize: none;
}

#textarea::placeholder {
    color: #0A3871;
    font-size: 20px;
    font-weight: 400;
}

#textarea:focus {
    outline: none !important;
}

#paragraph-info {
    color: #495057;
    font-size: .8em;
    margin: 0;
}

#buttons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.button {
    border-radius: 20px;
    font-size: 16px;
    height: 50px;
    margin-top: 1em;
    width:  12em;
}

#button-encrypt {
    background-color: #0A3871;
    color: white;
}

#button-decrypt,
.button-copy {
    border: 1px solid #0A3871;
    color: #0A3871;
}

#button-decrypt:hover,
.button-copy:hover {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    color: white;
}

.button-copy {
    width: 100%;
}

.button-copy:focus {
    background-color: green;
    border: 1px solid green;
    color: white;
}



#message-container {
    background-color: white;
    border-radius: 20px;
    height: 95%;
    margin: 0px auto;
    margin-top: 2em;
    padding: 1.5em;
    text-align: center;
}

.message-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#dummy {
    display: none;
}

#title-message {
    font-size: 20px;
    font-weight: bold;
}

#paragraph-message {
    margin: 0px;
}


/* Footer */
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6em;
    margin-top: 4em;
}


/* Media Queries */
@media(min-width: 583px) {
    #textarea {
        height: 12em;
    }
}

@media(min-width: 992px) {
    #textarea {
        height: 18em;
    }

    #message-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        width: 90%;
    }

    #dummy {
        display: initial;
        width: 15em;
    }
}
